# Extração dos dados do Enade

In [2]:
# Importar bibliotecas necessárias
import pandas as pd #biblioteca de dataframe do pandas
import numpy as np #biblioteca de implementação cientifica , calculos, estatisticas, etc ...
import zipfile #biblioteca para trablhar com arquivos zipados
import requests #biblioteca para trabalhar com links, fazer uma resquest de um determinado link
from io import BytesIO #biblioteca para configurar os inputs dos dados, para trabalhar com ambiente python
import os #biblioteca do sistema, trabalhar com caminhos path

In [3]:
# Criando um diretorio para armazernar o conteúdo do ENADE
os.makedirs('./enade2019', exist_ok=True)

In [5]:
# Define a url 
url = "https://download.inep.gov.br/microdados/Enade_Microdados/microdados_enade_2019.zip"
# Faz o download do contéudo
filebytes = BytesIO(
    requests.get(url).content    
)

#Extrair o contéudo do zipfile
myzip = zipfile.ZipFile(filebytes)
myzip.extractall("./enade2019")

### Verificando os dados baixados

In [8]:
enade = pd.read_csv(
    "./enade2019/3.DADOS/microdados_enade_2019.txt",
    sep = ";", decimal = ",", na_values={"NA", " "}
)

In [9]:
enade

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2,5,1,1,2,5,8,7,1,2
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1,4,2,2,2,5,4,4,2,2
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3,4,4,3,3,4,1,1,1,4
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3,5,2,2,2,3,3,4,3,3
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433925,2019,430,10008,10020,55,83604,1,4113700,41,4,...,6,6,5,5,5,6,6,5,2,6
433926,2019,430,10008,10020,55,83604,1,4113700,41,4,...,6,4,6,6,6,6,6,5,4,5
433927,2019,430,10008,10020,55,83604,1,4113700,41,4,...,4,6,6,5,5,6,6,6,6,6
433928,2019,430,10008,10020,55,83604,1,4113700,41,4,...,6,4,5,6,6,6,5,5,8,6
433929,2019,430,10008,10020,55,83604,1,4113700,41,4,...,4,4,4,4,3,4,5,5,3,6

In [10]:
enade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433930 entries, 0 to 433929
Columns: 137 entries, NU_ANO to QE_I68
dtypes: object(137)
memory usage: 453.6+ MB

In [12]:
#enade.dtypes
#Criando um dicionario para visualizar o tipo de campo schema
dict(enade.dtypes)

{'NU_ANO': dtype('O'),
 'CO_IES': dtype('O'),
 'CO_CATEGAD': dtype('O'),
 'CO_ORGACAD': dtype('O'),
 'CO_GRUPO': dtype('O'),
 'CO_CURSO': dtype('O'),
 'CO_MODALIDADE': dtype('O'),
 'CO_MUNIC_CURSO': dtype('O'),
 'CO_UF_CURSO': dtype('O'),
 'CO_REGIAO_CURSO': dtype('O'),
 'NU_IDADE': dtype('O'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('O'),
 'ANO_IN_GRAD': dtype('O'),
 'CO_TURNO_GRADUACAO': dtype('O'),
 'TP_INSCRICAO_ADM': dtype('O'),
 'TP_INSCRICAO': dtype('O'),
 'NU_ITEM_OFG': dtype('O'),
 'NU_ITEM_OFG_Z': dtype('O'),
 'NU_ITEM_OFG_X': dtype('O'),
 'NU_ITEM_OFG_N': dtype('O'),
 'NU_ITEM_OCE': dtype('O'),
 'NU_ITEM_OCE_Z': dtype('O'),
 'NU_ITEM_OCE_X': dtype('O'),
 'NU_ITEM_OCE_N': dtype('O'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('O'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('O'),
 'TP_PR_GER': dtype('O'),
 'TP_PR_OB_FG': dtype('O'),
 'TP_PR_DI_FG': dtype('O'),
 'TP_PR_OB_CE': dtype('O'),
 'TP_PR_DI_CE': dtype('O'),
 'TP_SFG_D1': dtype('O'),
 'TP_SFG_D2': dtype('O'),
 'TP_SCE_D1': dtype('O'),
 'TP_SCE_D2': dtype('O'),
 'TP_SCE_D3': dtype('O'),
 'NT_GER': dtype('O'),
 'NT_FG': dtype('O'),
 'NT_OBJ_FG': dtype('O'),
 'NT_DIS_FG': dtype('O'),
 'NT_FG_D1': dtype('O'),
 'NT_FG_D1_PT': dtype('O'),
 'NT_FG_D1_CT': dtype('O'),
 'NT_FG_D2': dtype('O'),
 'NT_FG_D2_PT': dtype('O'),
 'NT_FG_D2_CT': dtype('O'),
 'NT_CE': dtype('O'),
 'NT_OBJ_CE': dtype('O'),
 'NT_DIS_CE': dtype('O'),
 'NT_CE_D1': dtype('O'),
 'NT_CE_D2': dtype('O'),
 'NT_CE_D3': dtype('O'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('O'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('O'),
 'QE_I28': dtype('O'),
 'QE_I29': dtype('O'),
 'QE_I30': dtype('O'),
 'QE_I31': dtype('O'),
 'QE_I32': dtype('O'),
 'QE_I33': dtype('O'),
 'QE_I34': dtype('O'),
 'QE_I35': dtype('O'),
 'QE_I36': dtype('O'),
 'QE_I37': dtype('O'),
 'QE_I38': dtype('O'),
 'QE_I39': dtype('O'),
 'QE_I40': dtype('O'),
 'QE_I41': dtype('O'),
 'QE_I42': dtype('O'),
 'QE_I43': dtype('O'),
 'QE_I44': dtype('O'),
 'QE_I45': dtype('O'),
 'QE_I46': dtype('O'),
 'QE_I47': dtype('O'),
 'QE_I48': dtype('O'),
 'QE_I49': dtype('O'),
 'QE_I50': dtype('O'),
 'QE_I51': dtype('O'),
 'QE_I52': dtype('O'),
 'QE_I53': dtype('O'),
 'QE_I54': dtype('O'),
 'QE_I55': dtype('O'),
 'QE_I56': dtype('O'),
 'QE_I57': dtype('O'),
 'QE_I58': dtype('O'),
 'QE_I59': dtype('O'),
 'QE_I60': dtype('O'),
 'QE_I61': dtype('O'),
 'QE_I62': dtype('O'),
 'QE_I63': dtype('O'),
 'QE_I64': dtype('O'),
 'QE_I65': dtype('O'),
 'QE_I66': dtype('O'),
 'QE_I67': dtype('O'),
 'QE_I68': dtype('O')}